body {
  background-color: #0e0e0e;
  color: #f0e6d2;
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1c1c1c;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #bfa46f;
}

h1, h2 {
  color: #bfa46f;
  font-weight: 700;
}

button {
  background-color: #bfa46f;
  color: #0e0e0e;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #dbc284;
}
